@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* -------------------------------------------------- */
/* Background Color */
.aberrus .nav,
.aberrus .bossTitle,
.aberrus .info,
.aberrus .introduction,
.aberrus .mechanicsContent,
.aberrus .strategyContent
{
    background-color: var(--hc-color-aberrus-bg-1);
}
.aberrus .scrollspy,
.aberrus .difficulty,
.aberrus .raidSetup,
.aberrus .introductionContent,
.aberrus .mechanics,
.aberrus .strategy,
.aberrus .nextBoss
{
    background-color: var(--hc-color-aberrus-bg-2);
}
/* -------------------------------------------------- */
.aberrus {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}
/* -------------------------------------------------- */
.aberrus .nav {
    display: flex;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.aberrus .nav .bossIcon {
    margin-left: 5px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--hc-color-point-1);
}
/* -------------------------------------------------- */
.scrollspy {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
/* -------------------------------------------------- */
.bossTitle {
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.bossTitle .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 5px;
    margin-left: 20px;
}
.bossTitle .text .raid {
    color: var(--hc-color-point-1);
    font-size: 0.8rem;
    /* font-family: 'Black Han Sans', sans-serif; */
}
.bossTitle .text .boss {
    font-size: 2.5rem;
    font-family: 'Black Han Sans', sans-serif;
}
.bossTitle .text .sub {
    color: var(--hc-color-sub);
    font-size: 0.7rem;
}
.bossTitle .img {
    width: 150px;
    margin-left: auto;
    display: flex;
    align-items: flex-end;
}
/* -------------------------------------------------- */
.difficulty {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 40px;
}
.difficulty .heroic {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}
.difficulty .mythic {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}
/* -------------------------------------------------- */
.info {
    float: right;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    color: var(--hc-color-sub);
}
/* -------------------------------------------------- */
.raidSetup {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    /* justify-content:left; */
    align-items: center;
}
.positionIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}
.positionIcon img {
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
/* -------------------------------------------------- */
.introduction {
    height: 50px;
    padding-left: 20px;
    align-items: center;
    display: flex;
}
.introductionContent {
    padding: 20px;
}
/* -------------------------------------------------- */
.mechanics {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.mechanicsContent {
    padding: 20px;
}
.machanic {
}
/* -------------------------------------------------- */
.strategy {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.strategyContent {
    background-color:#1b1c1f;
    padding: 10px;
}
.stConTitle {
    margin: 10px;
    margin-bottom: 20px;
    font-size: 1.8rem;
}
/* -------------------------------------------------- */
.nextBoss {
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.nextBoss .text {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
}
.nextBoss .text .next {
    color: bisque;
    font-size: 0.8rem;
}
.nextBoss .text .name {
    color:darksalmon;
    font-size: 1.5rem;
}
.nextBoss .img {
    width: 150px;
    margin-left: auto;
    display: flex;
    align-items: flex-end;
}