.aberrusNav {
    background-color    : var(--hc-color-aberrus-bg-2);

    height              : 50px;
    padding             : 10px;

    display             : flex;
    align-items         : center;
}
.aberrusNav .bossIcon {
    border              : 2px solid var(--hc-color-point-1);
    border-radius       : 50%;

    width               : 46px;
    height              : 46px;

    margin-right        : 10px;
}
/* -------------------------------------------------- */
.aberrusTitle {
    background-color    : var(--hc-color-aberrus-bg-1);

    height              : 150px;
    
    padding-left        : 20px;

    display             : grid;
    grid-template-columns: 1fr 1fr;
}
.aberrusTitleText {
    display             : flex;
    flex-direction      : column;
    justify-content     : center;
}
.aberrusTitleText .dungeon {
    color               : var(--hc-color-point-1);

    font-size           : 1rem;
}
.aberrusTitleText .name {
    font-family         : var(--hc-font-strong);
    font-size           : 2.5rem;
}
.aberrusTitle .img {
    width               : 200px;

    display             : flex;
    align-items         : flex-end;
    margin-left         : auto;
}
/* -------------------------------------------------- */
.aberrusDifficulty {
    background-color    : var(--hc-color-aberrus-bg-2);

    height              : 50px;

    display             : grid;
    grid-template-columns: 1fr 1fr;
}
.aberrusDifficultyText {
    font-size           : 1.2rem;

    display             : flex;
    justify-content     : center;
    align-items         : center;
}
/* -------------------------------------------------- */
.aberrusBar {
    background-color    : var(--hc-color-aberrus-bg-1);

    height              : 50px;
    padding             : 0px 20px 0px 20px;

    display             : flex;
    align-items         : center;

    font-family         : 'Black Han Sans', sans-serif;
    font-size           : 1.4rem;
}
/* -------------------------------------------------- */
.aberrusBarInsert {
    background-color: var(--hc-color-aberrus-bg-2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.aberrusBarInsertGridDouble {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
}

/* -------------------------------------------------- */
.aberrusInsertBox0 {
    background-color: var(--hc-color-aberrus-bg-1);
    box-shadow: 0px 0px 5px black;

    padding: 20px;

    display: flex;
    align-items: center;
    /* gap: 20px; */
}
.aberrusInsertBox0Title {
    width: 100px;
}
.aberrusInsertBox0TitleText {

}
.aberrusInsertBox0Description {
    
}
.aberrusInsertBox0DescriptionText {

}
/* -------------------------------------------------- */
.aberrusInsertBox1 {
    background-color: var(--hc-color-aberrus-bg-1);
    box-shadow: 0px 0px 5px black;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    align-items: center;
}
.aberrusInsertBox1Img {
    border: 3px solid var(--hc-color-aberrus-border-1);
    border-radius: 25%;
    width: 50px;
}
.aberrusInsertBox1Title {
    width: 100px;
}
.aberrusInsertBox1TitleText {

}
.aberrusInsertBox1Description {
    
}
.aberrusInsertBox1DescriptionText {

}
/* -------------------------------------------------- */
.aberrusInsertBox2 {
    background-color: var(--hc-color-aberrus-bg-1);
    box-shadow: 0px 0px 5px black;
    padding: 20px;
    display: grid;
    grid-template-areas:
    "img         title"
    "description description";
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}
.aberrusInsertBox2Img {
    border: 3px solid var(--hc-color-aberrus-border-1);
    border-radius: 25%;
    width: 50px;
    grid-area: img;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.aberrusInsertBox2Title {
    grid-area: title;
    width: 100%;
}
.aberrusInsertBox2TitleText {
    width: 100%;
}
.aberrusInsertBox2Description {
    grid-area: description;
}
.aberrusInsertBox2DescriptionText {

}
/* -------------------------------------------------- */
.aberrusInsertModuler {
    background-color: var(--hc-color-aberrus-bg-1);
    box-shadow: 0px 0px 5px black;
    display: flex;
    flex-direction: column;
}
.aberrusInsertBoxModel {
    margin: 0 auto;
}
.aberrusInsertBoxModel img {
    width: 200px;
    margin: 0 auto;
}
.aberrusInsertBoxModelName {
    text-align: center;
}
.aberrusInsertBoxModulerAbility {
    display: grid;
    grid-template-areas: 
    "img name"
    "description description";
    row-gap: 20px;
    padding: 20px;
}
.aberrusInsertBoxModulerAbilityImg {
    grid-area: img;
    margin: 0 auto;
    width: 50px;
    border-radius: 10%;
    border: 3px solid var(--hc-color-aberrus-border-1);
}
.aberrusInsertBoxModulerAbilityName {
    grid-area: name;
    margin-top: auto;
    margin-bottom: auto;
}
.aberrusInsertBoxModulerAbilityDescription {
    grid-area: description;
}

.aberrusStrategyText1 {
    font-size: 1.5rem;
}


/* -------------------------------------------------- */
.bg-1 {background-color: var(--hc-color-aberrus-bg-1);}
.bg-2 {background-color: var(--hc-color-aberrus-bg-2);}

.shadowflame {color: var(--hc-wow-color-shadowflame);}

.txt-bold {font-family: 'Black Han Sans', sans-serif;}
.txt-littleBig {font-size: 1.3rem;}
.txt-big {font-size: 1.5em;}

.ht-30 {height: 30px;}
.ht-50 {height: 50px;}
.ht-100 {height: 100px;}
.ht-150 {height: 150px;}

.p-1 {padding: 10px;}
.p-2 {padding: 20px;}
.pl-1 {padding-left: 10px;}
.pl-2 {padding-left: 20px;}
.pt-1 {padding-top: 10px;}
.pt-2 {padding-top: 20px;}

.m-1 {margin: 10px;}
.m-2 {margin: 20px;}
.ml-1 {margin-left: 10px;}
.ml-2 {margin-left: 20px;}
.mr-1 {margin-right: 10px;}
.mr-2 {margin-right: 20px;}
.mt-0 {margin-top: 0px;}
.mt-1 {margin-top: 10px;}
.mt-2 {margin-top: 20px;}
.mb-0 {margin-bottom: 0px;}
.mb-1 {margin-bottom: 10px;}
.mb-2 {margin-bottom: 20px;}

.d-flex {display: flex;}
.d-grid {display: grid;}

.jc-s {justify-content: start;}
.jc-c {justify-content: center;}
.jc-e {justify-content: end;}
.ji-s {justify-items: start;}
.ji-c {justify-items: center;}
.ji-e {justify-items: end;}

.ac-s {align-content: start;}
.ac-c {align-content: center;}
.ac-e {align-content: end;}
.ai-s {align-items: start;}
.ai-c {align-items: center;}
.ai-e {align-items: end;}

.img-30 {width: 30px; height: 30px;}
.img-40 {width: 40px; height: 40px;}
.img-50 {width: 50px; height: 50px;}

.bor1 {border: 1px solid #000;}
.bor2 {border: 2px solid #000;}
.bor3 {border: 3px solid #000;}

.borbtm1 {border-bottom: 1px solid #000;}
.borbtm2 {border-bottom: 2px solid #000;}
.borbtm3 {border-bottom: 3px solid #000;}

/* -------------------------------------------------- */