td {
    padding: 0px;
}

.rosterTable {
    background-color: var(--hc-color-aberrus-bg-1);
    border: 1px solid #000;
    /* width: 300px; */
    padding: 20px;
}
.rosterTable a {
    color: white;
    text-decoration: none;
}
.rosterTable .rosterHeader {
    padding: 10px;
    background-color: var(--hc-color-aberrus-bg-2);
    font-weight: bold;
}

.rosterTable tr > td:nth-child(1) {
    background-color: var(--hc-color-aberrus-bg-2);
    text-align: center;
    width: 30px;
}    
.rosterTable  tr > td:nth-child(2) {
    background-color: var(--hc-color-aberrus-bg-2);
    text-align: center;
    width: 50px;
}    
.rosterTable  tr > td:nth-child(3) {
    background-color: var(--hc-color-aberrus-bg-2);
    width: 125px;
}    
.rosterTable  tr > td:nth-child(4),
.rosterTable  tr > td:nth-child(5),
.rosterTable  tr > td:nth-child(6),
.rosterTable  tr > td:nth-child(7),
.rosterTable  tr > td:nth-child(8),
.rosterTable  tr > td:nth-child(9),
.rosterTable  tr > td:nth-child(10) {
    display: none;
}    
